<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">

<form method="post" style="max-width:600px;" th:object="${user}">
    <div class="form-group">
        <label th:for="userName">Name</label>
        <input class="form-control" th:field="*{userName}"/>
        <!-- this will see the userName field of passed in Object -->
        <span th:errors="*{userName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="email">Email</label>
        <input class="form-control" type="email" th:field="*{email}"/>
        <span th:errors="*{email}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" type="password"
               th:field="*{password}"/>
    </div>
    <div class="form-group">
        <label for="password-field1">Verify Password</label>
        <input class="form-control" id="password-field1" type="password"
               name="verify"/>
    </div>
    <input type="submit" value="Submit"/>
</form>

</body>
</html>