<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>

<div th:replace="fragments :: cart"></div>

<meta charset="UTF-8"/>
<title>About Us</title>

<body class = "container">
<p class="lead">
    We are history and travel buffs and like to share that passion with you.
    We understand that you are not looking for just a weekend getaway, but to experience
    the place where you go and appreciate the things which led it to.
</p>

<p>
    All our trails are nicely curated and you shall be assigned with a trail
    manager taking care of all your bookings while you immerse yourself in
    the wonderful land of Cholas and learn from it.
</p>
</body>
</html>